body {
    max-width: 50vh;
    margin: auto;
    background-color: white;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    align-items: center;
    
    

}

.weatherApp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.weatherForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding-bottom: 20px;
    
}

#btn {
    background-color: #99d5ca;
}

.mainContainer {
    border: 1px dashed black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
   
}

.tempContainer {
    border: 1px solid black;
    margin-top: 20px;
}

.cityContainer {
    border: 1px solid black;
 }

 .condContainer {
    border: 1px solid black;
    margin-top: 20px;
 }

 .iconContainer {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
 }


.card { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 0;
    margin: 0;
    border: 1px solid black;
    flex-grow: 20;
    
}

.city {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #ffc374;
    border: 1px solid black;
    padding: 10px;
    margin: 0;

}

.temp1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #ffc374;
    /* margin-top: 20px; */
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 0;
}

.temperature {
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    
    
}

.cond {
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #ffc374;
    margin: 0;
    border: 1px solid black;
    padding: 10px;
}

.oth {
    font-weight: bold;
    display: flex;
    justify-content: center;
    background-color: #ffc374;
    /* margin-top: 50px; */
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

.condition {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    text-transform: capitalize;
}



.other {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 1px solid black;
    
}




.tempDisplay, .tempFarDisplay, .tempCelDisplay {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    border: black;
    border: 1px solid black;
    font-weight: normal;
    /* flex-direction: row; */
    padding: 5px 10px;
    margin: 0;
   
}


.cityDisplay {
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
    
}

.container {
    border: 1px solid black;
}
    

.tempDisplay {
  font-weight: normal;

}

.tempFarDisplay {
    flex-grow: 20;

}

.tempCelDisplay {

}

/*.humidityDisplay, .descDisplay {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    padding: 15px;
}
*/

.descDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.weatherEmoji {
    width: 50%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

